.window {
    position: absolute;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.75);
    padding: 16px;
    
} 

.windowheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: grab;
    user-select: none; 
}

.closebutton {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ff5f57;
    cursor: pointer; 
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.selected {
    background-color: rgba(127,255,212,0.2)
}

.sidebarItem:hover {
    background-color: #343434;
}
